project_name       = "brandonlab"
environment        = "dev"
location           = "mexicocentral"
vnet_address_space = ["10.0.0.0/16"]

tags = {
  managed_by = "terraform"
  student    = "Brandon Bernal"
}

# Copia este archivo como terraform.tfvars y agrega el ID obtenido de:
# az account show --query id --output tsv
# subscription_id = "<ID_REAL_DE_LA_SUSCRIPCION>"
